body{
  font-family:  san-serif;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;

}
header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #EEEEEE;
  position:relative;
}

header > div {
}
header > div >a{
  margin: 0;
  padding: 0;
  text-decoration:none;
  display:flex;
}
header > div >a> h1 {
  color: #3e5358;
  margin: 0;
  padding: 10px 10px ;
}

header > div >a> img {
  margin: 10px 5px 5px 5px;
  width:40px;
  height:40px;
}

header > ul  {
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
  height: 30px;
}
header > ul > li {
  margin: 15px 20px 10px 50px;
  padding: 1px 10px 1px 10px;
  height: 30px;
  display:flex;
  text-align:center;
  align-items::center;
}
header > ul >li>  a {
  text-decoration:none;
  padding: 5px 10px 5px 10px;
  color: #3e5358;
  border: 1px solid #1495b5;
  border-radius: 6px 6px 6px 6px;
  text-align:center;
}
 
header > ul >li>a:hover {
  background: #1495b5;
  color: #F5FFFA;
  transition: 1.2s;
  cursor: pointer;
}

header > ul > li.help {
  border: none;
  width:36px;
  height:36px;
}

header > ul > li.help>a>img {
  width: 36px;
  height: 36px;
}
main > article {
  margin: 10px 20px;
  padding:0;
}
main > article > ul {
  display:flex;
  flex-wrap:wrap;
  list-style:none
}

main > article > ul> a > li {
  margin: 10px;
  border:1px solid #EEEEEE; 
  width: 200px;
  height: 160px;
}

main > article > ul>a >li:hover {
  box-shadow:5px 5px 5px 5px gray;
}

object {
  pointer-events:none;
}

article.pagination{
  text-align:center;
}

nav {
  display:inline-block;
}


nav > a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

nav > a.active {
  background-color: #4CAF50;
  color: white;
}

nav> a:hover:not(.active) {
  background-color: #ddd;
}

nav.pageNotFound {
  font-size: 40px;
  color: #CCCCCC;
}
